body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

body * {
    display: flex;
    flex-direction: inherit;
}

a, a:visited {
    color: unset;
    text-decoration: unset;
}

button, input {
    font-size: unset;
}

input {
    padding: 0.2em 0.5em;
}

.debug {
    border: 1px solid red;
    margin: 3px;
}

button {
    border-radius: .3em;
    border: unset;
    box-shadow: .1em .1em .5em black;
    padding: 0.5em 1em;
}

button:active {
    position: relative;
    left: .2em;
    top: .2em;
}

.dimension {
    display: inline;
}

.dimension::after {
    content: "mm";
    font-weight: lighter;
    font-size: smaller;
    margin-left: 0.08em;
    color: gray;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*---------------------------------------------------------------*/

.page {
    height: calc(100vh);
}

.page .content {
    flex-grow: 1;
    margin: 1em;
}

/*---------------------------------------------------------------*/

.page .navigation {
    flex-direction: column;
    background-color: #2f2f2f;
    align-items: center;
}

.page .navigation>a {
    color: #a5a5a5;
    font-size: 2.5em;
    height: 2em;
    width: 2em;
    border-bottom: 1px solid #717171;
    align-items: center;
    justify-content: center;
}

.page .navigation>a.active {
    color: red;
}

.page .navigation .end {
    justify-content: flex-end;
    flex-grow: 1;
}

.page .navigation .stop {
    background-color: red;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    padding: 0.6em;
    margin-bottom: 2em;
}

.page .navigation .stop .icon {
    font-size: 2em;
    margin-bottom: 0.3em;
}

.page .navigation>a:active .icon {
    position: relative;
    left: .1em;
    top: .1em;
}

/*---------------------------------------------------------------*/

.page .errors {
    position: absolute;
    left: 3em;
    top: 1em;
    right: 3em;
    background-color: red;
    color: white;
    padding: 2em 2em 1em 2em;
    border-radius: 12px;
    border: 0.15em solid white;
    box-shadow: black 0px 5px 15px;
    flex-direction: column;
    font-weight: bold;    
    cursor: pointer;
}

.page .errors:empty {
    display: none;
}

.page .errors>* {
    margin-bottom: 1em;
}

/*---------------------------------------------------------------*/

button.control {
    width: 5em;
    height: 5em;
    align-items: center;
    justify-content: center;
    margin: 1em;
    color: #019e72;
    font-weight: bold;
}

button.control.disabled {
    color: gray !important;
    background-color: silver;
}

button.control .icon {
    font-size: 5em;
}

@media only screen and (max-height: 1000px) {
    button.control {
        margin: 0.5em;
        width: 4em;
        height: 4em;        
    }
}