/*---------------------------------------------------------------*/

.page.home .scene {
    flex-grow: 1;
    margin-right: 1em;
}

.page.home .scene svg g.ucs {
    transform: scaleY(-1);
}

.page.home .content {
    position: relative;
}

.page.home .state {
    position: absolute;
    left: 4em;
    top: 0em;
    bottom: 0px;
    overflow-x: hidden;   
}

.page.home .state .text {
    overflow-x: auto;
    margin-right: -50px;
    padding-right: 50px;
    font-family: monospace;
    white-space: pre;
    font-size: 9pt;
    color: #999;
}

/*---------------------------------------------------------------*/

.page.home .controls {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    min-width: 20em;
    padding-right: 2em;
    margin-right: -2em;
}

.page.home .controls .group {
    background-color: #292929;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
}

.page.home .controls .group .title {
    color: rgb(230, 230, 230);
    text-align: center;
    margin: 0.5em 1em;
    font-weight: bold;
    cursor: pointer;
}

.page.home .controls .buttons {
    display: grid;
    justify-items: center;
    align-items: center;
}

/*---------------------------------------------------------------*/

.page.home .controls .job .buttons {
    grid-template-columns: 50% 50%;
}

.page.home .controls .job .buttons button {
    width: 8em;
    height: 3em;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.page.home .controls .job .buttons .delete {
    color: red;
}

/*---------------------------------------------------------------*/

.page.home .controls .abchains .buttons {
    grid-template-columns: 33% auto 33%;
    grid-template-rows: 1em auto auto;
}

.page.home .controls .abchains .side {
    grid-row: 1;
}

.page.home .controls .abchains .a {
    grid-column: 1;
}

.page.home .controls .abchains .ab {
    grid-column: 2;
}

.page.home .controls .abchains .b {
    grid-column: 3;
}

.page.home .controls .abchains .up {
    grid-row: 2;
}

.page.home .controls .abchains .down {
    grid-row: 3;
}

/*---------------------------------------------------------------*/

.page.home .controls .xyaxis .buttons {
    grid-template-columns: 33% auto 33%;
}

.page.home .controls .xyaxis .dir0 {
    grid-row: 1;
    grid-column: 2;
}

.page.home .controls .xyaxis .dir45 {
    grid-row: 1;
    grid-column: 3;
}

.page.home .controls .xyaxis .dir45 .icon {
    transform: rotate(45deg);
}

.page.home .controls .xyaxis .dir90 {
    grid-row: 2;
    grid-column: 3;
}

.page.home .controls .xyaxis .dir90 .icon {
    transform: rotate(90deg);
}

.page.home .controls .xyaxis .dir135 {
    grid-row: 3;
    grid-column: 3;
}

.page.home .controls .xyaxis .dir135 .icon {
    transform: rotate(135deg);
}

.page.home .controls .xyaxis .dir180 {
    grid-row: 3;
    grid-column: 2;
}

.page.home .controls .xyaxis .dir180 .icon {
    transform: rotate(180deg);
}

.page.home .controls .xyaxis .dir225 {
    grid-row: 3;
    grid-column: 1;
}

.page.home .controls .xyaxis .dir225 .icon {
    transform: rotate(225deg);
}

.page.home .controls .xyaxis .dir270 {
    grid-row: 2;
    grid-column: 1;
}

.page.home .controls .xyaxis .dir270 .icon {
    transform: rotate(270deg);
}

.page.home .controls .xyaxis .dir315 {
    grid-row: 1;
    grid-column: 1;
}

.page.home .controls .xyaxis .dir315 .icon {
    transform: rotate(315deg);
}

.page.home .controls .xyaxis .position {
    grid-row: 2;
    grid-column: 2;
}

.page.home .controls .xyaxis .position .x {
    color: red;
}

/*---------------------------------------------------------------*/

.page.home .controls .zaxis .start {
    grid-row: 1;
    grid-column: 1;
}

.page.home .controls .zaxis .stop {
    grid-row: 2;
    grid-column: 1;
    color: red;
}

.page.home .controls .zaxis .spindle {
    grid-row: 1;
    grid-column: 2;
    font-size: 2.5em;
}

.page.home .controls .zaxis .spindle.on .icon {
    animation: spin 1s infinite linear;
    color: red;
}

.page.home .controls .zaxis .position {
    grid-row: 2;
    grid-column: 2;
    color: white;
    padding: 0.5em;
    border-bottom: 1px solid silver;
}

.page.home .controls .zaxis .position.moving {
    background-color: red;
    animation: blink 1s infinite;
}

.page.home .controls .zaxis .position.out {
    border-top: 1px solid silver;
    border-bottom: unset;
    font-weight: bold;
}

.page.home .controls .zaxis .up {
    grid-row: 1;
    grid-column: 3;
}

.page.home .controls .zaxis .down {
    grid-row: 2;
    grid-column: 3;
}
